# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = weibospider.settings

[deploy:scrapyd-weibo]
url = http://10.109.243.246:6800/
username = hadoop_user
password = fnl12345678
project = weibospider
